

/*Preloader*/


.loader {
  position: fixed;
  z-index: 999;
  overflow: show;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #2a2929, #292828, #282828, #272727, #262626);
  transition: opacity 0.3s ease-in-out;
}



.loader-text {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -65px;
  margin-top: 40%;
  color: #fff;
  font-size: 36px;
}

@media screen and (min-width: 1689px) {
  .loader-text {
    margin-left: -65px;
    margin-top: 35%;
    color: #fff;
  }
}

@media screen and (max-width: 1690px) {
  .loader-text {
    margin-left: -65px;
    margin-top: 40%;
    color:  #fff;
  }
}




@media screen and (max-width: 480px) {
  .pre-spinner{
    margin-top: -11%;
  }
}

.spinner {
  position: fixed;
  height: 20%;
  text-align: center;
  transform: translateX(-50%);
  transform:scale(0.4);
}
.spinner .ball-container {
  width: 30px;
  transform: translate(130px, -140px);
}
.spinner .ball {
  width: 40px;
  transform-origin: bottom;
  -webkit-animation: bounce 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
          animation: bounce 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
}
.spinner .ball circle {
  fill: #FFF;
}
.spinner .raquet {
  transform-origin: bottom;
  width: 85px;
  height: 142px;
}
.spinner .raquet #sor-1 {
  fill: rgba(0, 0, 0, 0.2);
  -webkit-animation: shadow 500ms infinite 500ms alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
          animation: shadow 500ms infinite 500ms alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
}
.spinner .raquet #sor-2 {
  fill: rgba(0, 0, 0, 0.2);
  -webkit-animation: shadow 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
          animation: shadow 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
}
.spinner .raquet#r-1 {
  transform: translateX(70px) rotateZ(45deg);
  -webkit-animation: hit-1 1000ms infinite 300ms ease-in-out;
          animation: hit-1 1000ms infinite 300ms ease-in-out;
}
.spinner .raquet#r-2 {
  transform: translateX(-70px) rotateZ(-45deg);
  -webkit-animation: hit-2 1000ms infinite -200ms ease-in-out;
          animation: hit-2 1000ms infinite -200ms ease-in-out;
}
.spinner .raquet .front {
  fill: #222;
}
.spinner .raquet .middle {
  fill: #070;
}
.spinner .raquet .back {
  fill: #D00;
}
.spinner .raquet .handle.outer {
  fill: #a8712a;
}
.spinner .raquet .handle.inner {
  fill: #e0973e;
}
.spinner .shadow {
  transform: translateY(-150px);
  -webkit-filter: blur(2px);
}
.spinner .shadow ellipse {
  fill: rgba(0, 0, 0, 0.1);
}
.spinner .shadow #sr-1, .spinner .shadow #sr-2, .spinner .shadow #sb {
  transform-origin: center;
}
.spinner .shadow #sr-1 {
  -webkit-animation: grow 1000ms infinite -200ms ease-in-out;
          animation: grow 1000ms infinite -200ms ease-in-out;
}
.spinner .shadow #sr-2 {
  -webkit-animation: grow 1000ms infinite 300ms ease-in-out;
          animation: grow 1000ms infinite 300ms ease-in-out;
}
.spinner .shadow #sb {
  -webkit-animation: swing 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
          animation: swing 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
}

@-webkit-keyframes bounce {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(-45deg);
  }
}

@keyframes bounce {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(-45deg);
  }
}
@-webkit-keyframes swing {
  0% {
    opacity: 0;
    transform: translateX(70px) scale(1.2);
  }
  25%, 75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(0.9);
  }
  100% {
    opacity: 0;
    transform: translateX(-70px) scale(1.2);
  }
}
@keyframes swing {
  0% {
    opacity: 0;
    transform: translateX(70px) scale(1.2);
  }
  25%, 75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(0.9);
  }
  100% {
    opacity: 0;
    transform: translateX(-70px) scale(1.2);
  }
}
@-webkit-keyframes hit-1 {
  0%, 50%, 100% {
    transform: translate(70px, 3px) rotateZ(45deg);
  }
  75% {
    transform: translate(69px, -2px) rotateZ(42deg);
  }
}
@keyframes hit-1 {
  0%, 50%, 100% {
    transform: translate(70px, 3px) rotateZ(45deg);
  }
  75% {
    transform: translate(69px, -2px) rotateZ(42deg);
  }
}
@-webkit-keyframes hit-2 {
  0%, 50%, 100% {
    transform: translate(-70px, 3px) rotateZ(-45deg);
  }
  75% {
    transform: translate(-69px, -2px) rotateZ(-42deg);
  }
}
@keyframes hit-2 {
  0%, 50%, 100% {
    transform: translate(-70px, 3px) rotateZ(-45deg);
  }
  75% {
    transform: translate(-69px, -2px) rotateZ(-42deg);
  }
}
@-webkit-keyframes grow {
  0%, 50%, 100% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes grow {
  0%, 50%, 100% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes shadow {
  0%, 40% {
    transform: translate(25px, 200px) scale(0.5);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes shadow {
  0%, 40% {
    transform: translate(25px, 200px) scale(0.5);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}/*# sourceMappingURL=other.css.map */


body {
  font-family: 'Roboto', sans-serif;
}

section {

}



* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


#particles-js {
width: 100%;
height: 100vh;
margin: 0;
background-image: linear-gradient(to top, #2a2929, #292828, #282828, #272727, #262626);
}


.hero{
width:100%;
height:100vh;
background-color: #485461;
padding:05%;
display:flex;flex-direction: column;
text-align: center;
align-items:center;
justify-content:center;
}


header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 25px 4% 10px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
}

header.sticky {
  padding: 5px 10%;
  background-image: linear-gradient(to top, #1e1e1e, #1b1b1b, #181818, #151515, #121212);
}

header.sticky2 {

}

header .logo {
  width: 220px;
  height: 30px;
  margin-left: 20%;
}

header ul {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
}

header ul li {  
  display: inline-block;
  list-style: none;
  position: relative;
  margin-left: 30px;
  padding: 20px;
  text-transform: uppercase;
}

header ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  transition: 0.6s;
}


header ul li a:hover {
  color: #f3da4b;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #f3da4b;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

ul li.active a {
  color: #f3da4b;
}


.profile-avatar {
  position: relative;
  display: inline;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 5px solid rgb(220, 220, 220);
  overflow: hidden;
  margin: 5px auto;
  box-shadow: 0 0 30px rgb(0 0 0 / 55%);
  text-align: center;
  animation: animate 4s linear infinite;
}

.space {
  position: relative;
  display: inline;
  width: 100%;
  height: 40px;
}


@keyframes animate {
  0%,100% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(15px);
  }
}



.avatar {
  max-width: 100%;
  max-height: 100%;
}

.back-particles {
  position: absolute;
  background-size: cover;
}




@media (min-aspect-ratio: 16/9) {
  .back-particles{
    width: 120%;
    height: 120%;
  }
}

.type-wrap {
  position: relative;
  display: inherit;
  width: auto;
  height: auto;
  padding: 40px;
}

.type-wrap h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.type-wrap span {
  color: #f3da4b;
}



@media (max-width: 768px){
  .type-wrap h1 {
    font-size: 16px;
  }
}




/*btn nav*/


header .menu-btn i{
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"]{
  display: none;
}



@media (min-width: 845px){
  header{
    padding: 20px 4% 10px 4%;
  }
  

  header .logo {
    margin-left: 0%;
  }

  header ul {
    margin-right: 1%;
  }
}


@media (max-width: 844px) {

  header{
    padding: 35px 6% 10px 4%;
  }


  header .menu-btn i{
    display: block;
  }


  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  header ul{
    position: absolute;
    top: 0;
    left: -100%;
    background-image: linear-gradient(to bottom, #141414, #141414, #131313, #131313, #121212);
    height: 100vh;
    width: 80%;
    text-align: center;
    display: block;
    transition: all 0.1s ease-in;
    transition: all 0.4s ease-out;
    overflow: visible !important;
  }

  

  header.sticky {
    padding: 15px 10%;
  }


  #click:checked ~ ul{
    left: 0;
  }

  header .logo {
    margin-left: 0;
    width: 160px;
    height: 28px;
  }

  .fas {
    color: #fff;
  }
 
  
  header ul li{
    width: 100%;
    margin: 40px 0;
  }


  header ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }

  .underline-animation:after {
    width: 0%;
  }

  * {
    scroll-behavior: smooth;
  }

}

.home-hero{
  background-position: center;
  background-size: cover;
}






.container-about {
  width: 100%;
  height: 100vh;
  padding: 7% 10% 10px 10%;
  background-image: linear-gradient(to bottom, #2a2929, #292828, #282828, #272727, #262626);
}


.container-about h2 {
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 30px;
  color: #f3da4b;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}


.container-about p {
  color: #fff;
}



@media (max-width: 844px) {
  .container-about h2 {
    margin-bottom: 30px;
    margin-top: 50px;
  }
}






















.container-portfolio {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 7% 10% 10px 10%;
}


.container-portfolio h2 {
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 30px;
  color: #000000;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}


.container-portfolio p {
  color: rgb(0, 0, 0);
}


@media (max-width: 844px) {
  .container-portfolio h2 {
    margin-bottom: 30px;
    margin-top: 50px;
  }
}








.footer {
  padding: 15px;
  background-image: linear-gradient(to bottom, #141414, #141414, #131313, #131313, #121212);
}

.footer .social {
  text-align: center;
  padding-bottom: 10px;
  color: #fff;
}

.footer .social a:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}



@-webkit-keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.wobble {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble:hover {
  -webkit-animation-name: wobble-vertical-on-hover;
  animation-name: wobble-vertical-on-hover;
  -webkit-animation-duration: 0.5s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.footer .privacy {
  text-align: center;
  padding-bottom: 10px;
  color: #fff;
}

.footer .privacy a {
  color: #fede28;;
  text-decoration: none;
  cursor: pointer;
}


.footer .social a{
  font-size:24px;
  color:inherit;
  border:1px solid #ccc;
  width:40px;
  height:40px;
  Line-height:38px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  margin:08px;
  opacity:0.75;
}

.footer .social a:hover{
  color: #fede28;
}