

/*Preloader*/

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #333;
  transition: opacity 0.3s ease-in-out;
}



.loader-text {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -65px;
  margin-top: 40%;
  color: #fff;
  font-size: 36px;
}

@media screen and (min-width: 1689px) {
  .loader-text {
    margin-left: -65px;
    margin-top: 35%;
    color: #fff;
  }
}

@media screen and (max-width: 1690px) {
  .loader-text {
    margin-left: -65px;
    margin-top: 40%;
    color:  #fff;
  }
}


.pre-spinner {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin-top: -2%;
  background: #333;
  transform:scale(0.4);
}

@media screen and (max-width: 480px) {
  .pre-spinner{
    margin-top: -11%;
  }
}

.spinner {
  position: fixed;
  top: 40%;
  left: 49%;
  height: 20%;
  text-align: center;
  transform: translateX(-50%);
}
.spinner .ball-container {
  width: 30px;
  transform: translate(130px, -140px);
}
.spinner .ball {
  width: 40px;
  transform-origin: bottom;
  -webkit-animation: bounce 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
          animation: bounce 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
}
.spinner .ball circle {
  fill: #FFF;
}
.spinner .raquet {
  transform-origin: bottom;
  width: 85px;
  height: 142px;
}
.spinner .raquet #sor-1 {
  fill: rgba(0, 0, 0, 0.2);
  -webkit-animation: shadow 500ms infinite 500ms alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
          animation: shadow 500ms infinite 500ms alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
}
.spinner .raquet #sor-2 {
  fill: rgba(0, 0, 0, 0.2);
  -webkit-animation: shadow 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
          animation: shadow 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
}
.spinner .raquet#r-1 {
  transform: translateX(70px) rotateZ(45deg);
  -webkit-animation: hit-1 1000ms infinite 300ms ease-in-out;
          animation: hit-1 1000ms infinite 300ms ease-in-out;
}
.spinner .raquet#r-2 {
  transform: translateX(-70px) rotateZ(-45deg);
  -webkit-animation: hit-2 1000ms infinite -200ms ease-in-out;
          animation: hit-2 1000ms infinite -200ms ease-in-out;
}
.spinner .raquet .front {
  fill: #222;
}
.spinner .raquet .middle {
  fill: #070;
}
.spinner .raquet .back {
  fill: #D00;
}
.spinner .raquet .handle.outer {
  fill: #a8712a;
}
.spinner .raquet .handle.inner {
  fill: #e0973e;
}
.spinner .shadow {
  transform: translateY(-150px);
  -webkit-filter: blur(2px);
}
.spinner .shadow ellipse {
  fill: rgba(0, 0, 0, 0.1);
}
.spinner .shadow #sr-1, .spinner .shadow #sr-2, .spinner .shadow #sb {
  transform-origin: center;
}
.spinner .shadow #sr-1 {
  -webkit-animation: grow 1000ms infinite -200ms ease-in-out;
          animation: grow 1000ms infinite -200ms ease-in-out;
}
.spinner .shadow #sr-2 {
  -webkit-animation: grow 1000ms infinite 300ms ease-in-out;
          animation: grow 1000ms infinite 300ms ease-in-out;
}
.spinner .shadow #sb {
  -webkit-animation: swing 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
          animation: swing 500ms infinite alternate cubic-bezier(0.35, 0.5, 0.65, 0.5);
}

@-webkit-keyframes bounce {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(-45deg);
  }
}

@keyframes bounce {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(-45deg);
  }
}
@-webkit-keyframes swing {
  0% {
    opacity: 0;
    transform: translateX(70px) scale(1.2);
  }
  25%, 75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(0.9);
  }
  100% {
    opacity: 0;
    transform: translateX(-70px) scale(1.2);
  }
}
@keyframes swing {
  0% {
    opacity: 0;
    transform: translateX(70px) scale(1.2);
  }
  25%, 75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(0.9);
  }
  100% {
    opacity: 0;
    transform: translateX(-70px) scale(1.2);
  }
}
@-webkit-keyframes hit-1 {
  0%, 50%, 100% {
    transform: translate(70px, 3px) rotateZ(45deg);
  }
  75% {
    transform: translate(69px, -2px) rotateZ(42deg);
  }
}
@keyframes hit-1 {
  0%, 50%, 100% {
    transform: translate(70px, 3px) rotateZ(45deg);
  }
  75% {
    transform: translate(69px, -2px) rotateZ(42deg);
  }
}
@-webkit-keyframes hit-2 {
  0%, 50%, 100% {
    transform: translate(-70px, 3px) rotateZ(-45deg);
  }
  75% {
    transform: translate(-69px, -2px) rotateZ(-42deg);
  }
}
@keyframes hit-2 {
  0%, 50%, 100% {
    transform: translate(-70px, 3px) rotateZ(-45deg);
  }
  75% {
    transform: translate(-69px, -2px) rotateZ(-42deg);
  }
}
@-webkit-keyframes grow {
  0%, 50%, 100% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes grow {
  0%, 50%, 100% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes shadow {
  0%, 40% {
    transform: translate(25px, 200px) scale(0.5);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
@keyframes shadow {
  0%, 40% {
    transform: translate(25px, 200px) scale(0.5);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}/*# sourceMappingURL=other.css.map */





body {
  background-color: rgb(46, 46, 46);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin: 0;
  padding: 0;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Particles background*/

#background{
  width: 100%;
  height: 100vh;
  display:  block; 
}















